   /* Estilos del header */
  .header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 30px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  
  }
  
  .login a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  
  .login a:hover {
    background-color: #fff;
    color: #333;
  }
 
 
 /* Estilos del titulo servicios */
  .head {
    background-image: url(backg.png);
    
    padding: 80px 5px;
    text-align: left;
  }
  
  .head h1 {
    position:fixed;
    font-size: 40px;
    color:#fff;
    margin-bottom: 5px;
  }
  .head h1 {
    top:60px;
  }

  .head h2 {
    position:fixed;
    font-size: 40px;
    color:#fff;
    margin-bottom: 5px;
  }
  .head h2 {
    top:100px;
  }


